
<div class="footer">
    <div class="copyright">
        <p>Copyright &copy; Şule Celep tarafından geliştirildi. <a href="https://themeforest.net/user/quixlab">Hotelier</a> @DateTime.Now.Year </p>
    </div>
</div>
