
<div class="nav-header bg-warning">
    <div class="brand-logo">
        <a href="/Default/Index/">
            <b class="logo-abbr"><img src="~/adminweb/images/logo_.png" alt=""> </b>
            <span class="logo-compact"><img src="~/adminweb/images/logo_.png" alt=""></span>
            <span class="brand-title">
                <img src="~/adminweb/images/logo_.png" width="150" height="35" alt="">
            </span>
        </a>
    </div>
</div>
