
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">

    <br />
    <label>Dosya Seç</label>

    <input type="file" class="form-control" name="file" />
    <br />

    <button class="btn btn-primary" type="submit">Dosyayı Yükle</button>

</form>
